{% extends "base.html" %}


{% block navbar %}
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3498db;">
        <a class="navbar-brand" href="#" style="color: #ffffff; font-family: 'Arial', sans-serif;">
            <strong>Password Manager Application</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login" style="color: #ffffff;">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="container">
        <div class="container">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="container" style="background-color: #f4ede8; padding: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <div class="row justify-content-center">
                <div class="col-md-6" style="background-color: #ffffff; padding: 20px; border-radius: 10px;">
                    <h2 style="color: #3498db;">Register</h2>

                <form method="POST" class="mt-4">
                    <div class="form-group">
                        <label for="regno">Reg no / ID number:</label>
                        <input type="text" name="regno" class="form-control" placeholder="eg CT111/111111/11, 4567834"
                            required oninput="checkRegistrationNumber(this)">
                        <div id="regno-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" class="form-control" placeholder="eg Stan Paul" required
                            oninput="checkUsername(this)">
                        <div id="username-feedback"></div>
                    </div>
                    <script>
                        function checkRegistrationNumber(regNoInput) {
                            var regNo = $(regNoInput).val();

                            // Define registration number pattern
                            var regNoPattern = /^([A-Z]{2,3}\d{3}\/\d{6}\/\d{2}|[0-9]{8})$/;

                            // Check if the registration number meets the pattern
                            var isValidRegNo = regNoPattern.test(regNo);

                            // Provide feedback to the user
                            var regNoFeedbackDiv = $('#regno-feedback');
                            regNoFeedbackDiv.empty();

                            if (!isValidRegNo) {
                                regNoFeedbackDiv.html('<p class="text-danger">Invalid registration number format</p>');
                            }
                        }

                        function checkUsername(usernameInput) {
                            var username = $(usernameInput).val();

                            // Define username pattern (letters only)
                            var usernamePattern = /^[a-zA-Z]+$/;

                            // Check if the username meets the pattern
                            var isValidUsername = usernamePattern.test(username);

                            // Provide feedback to the user
                            var usernameFeedbackDiv = $('#username-feedback');
                            usernameFeedbackDiv.empty();

                            if (!isValidUsername) {
                                usernameFeedbackDiv.html('<p class="text-danger">Username should contain only letters</p>');
                            }
                        }
                    </script>
                    <div class="container">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <button id="generateButton" class="btn btn-success">Generate Password</button>
                                </div>
                                <div class="col">
                                    <input type="text" id="passwordInput" readonly class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" class="form-control"
                                    placeholder="e.g., must@2002" required oninput="checkPasswordStrength(this)">
                                <button id="showPasswordBtn" type="button" onclick="togglePassword()">Show
                                    Password</button>
                                <div id="password-strength-feedback"></div>
                            </div>
                            <script>
                                function togglePassword() {
                                    var passwordField = document.getElementById("password");
                                    var showPasswordBtn = document.getElementById("showPasswordBtn");

                                    if (passwordField.type === "password") {
                                        passwordField.type = "text";
                                        showPasswordBtn.textContent = "Hide Password";
                                    } else {
                                        passwordField.type = "password";
                                        showPasswordBtn.textContent = "Show Password";
                                    }
                                }
                            </script>
                        </form>

                        <script>
                            function checkPasswordStrength(passwordInput) {
                                var password = $(passwordInput).val();

                                // Define password requirements
                                var requirements = {
                                    'length': /^.{9,}$/, // Minimum 9 characters (including 8 or more other characters)
                                    'uppercase': /[A-Z]/,
                                    'lowercase': /[a-z]/,
                                    'numbers': /\d/,
                                    'special_characters': /[!@#$%^&*(),.?":{}|<>]/
                                };

                                // Check if the password meets the requirements
                                var missingTypes = Object.keys(requirements).filter(function (type) {
                                    return !requirements[type].test(password);
                                });

                                // Provide feedback to the user
                                var feedbackDiv = $('#password-strength-feedback');
                                feedbackDiv.empty();

                                if (missingTypes.length > 0) {
                                    var suggestions = missingTypes.map(function (type) {
                                        return 'Add ' + type.replace('_', ' ');
                                    });

                                    feedbackDiv.html('<p class="text-danger">' + suggestions.join(', ') + '</p>');
                                } else {
                                    feedbackDiv.html('<p class="text-success">Password strength: Strong!</p>');
                                }
                            }
                        </script>

                        <div class="form-group">
                            <label for="role">Role:</label>
                            <select name="role" class="form-control" required>
                                <option value="student">Student</option>
                                <option value="faculty">faculty</option>
                            </select>
                        </div>

                        <!-- Help Modal Button -->
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#helpModal">
                            Need Help with registration?
                        </button><br>

                        <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>


            
            
           
<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">Help</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Add your help content here -->
            <p>Need help: The registration button prompts you to enter your valid registration number.<hr> 
                          Then enter the your name in the username.<hr>
                          Generate button offers assistance in creating a password for you incase you dont have one. Note that the password strength is also required to be strong. </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
//<script>
$('#generateButton').click(function () {
    $.ajax({
        type: 'POST',
        url: '/generate_password',
        dataType: 'json',
        success: function (data) {
            if (data && data.generated_password) {
                // Update the password input field with the received password
                $('#passwordInput').val(data.generated_password);
            }
        },
        error: function () {
            // Handle the error
            console.log('Error generating password');
        }
    });
});

$('#password-strength').on('input', function () {
    var password = $(this).val();

    if (password) {
        $.ajax({
            type: 'POST',
            url: '/check_password_strength',
            data: { 'password_strength': password },
            success: function (data) {
                $('#strength-label').text(data.strength);
                var feedback = data.feedback.join('. ');
                $('#password-strength-feedback').attr('title', feedback);
            },
            error: function () {
                console.log('Error checking password strength');
            }
        });
    } else {
        $('#strength-label').text('Weak');
        $('#password-strength-feedback').attr('title', '');
    }
});



$('#encrypt-button').click(function () {
    var password = $('#password-encrypt').val();
    if (password) {
        $.ajax({
            type: 'POST',
            url: '/encrypt_password',
            data: { 'password': password },
            success: function (data) {
                $('#encrypted-password').text('Encrypted Password: ' + data.encrypted_password);
            },
            error: function () {
                console.log('Error encrypting password');
            }
        });
    }
});

$('#decrypt-button').click(function () {
    var encryptedPassword = $('#encrypted-password-input').val();
    if (encryptedPassword) {
        $.ajax({
            type: 'POST',
            url: '/decrypt_password',
            data: { 'encrypted_password': encryptedPassword },
            success: function (data) {
                $('#decrypted-password').text('Decrypted Password: ' + data.decrypted_password);
            },
            error: function () {
                console.log('Error decrypting password');
            }
        });
    }
});

{% endblock %}

